<div class="row section__title">
    <div class="col s12">
        <h1>Timer <span *ngIf="timerIsRunning">- {{ selectedProjectName }}</span></h1>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="timer">
            <div class="timer__project-choice">
                <p>Choose project</p>
                <select (change)="onChange($event.target.value)" [(ngModel)]="selectedProjectName" class="browser-default">
                    <option selected *ngFor="let project of projects">{{ project.name }}</option>
                </select>
            </div>

            <div class="timer__info">
                <p class="timer__info__time"><i class="material-icons left" style="padding-top: 5px;">access_time</i>{{ time | date:'mm:ss'}}</p>
                <button *ngIf="!timerIsRunning" (click)="startTimer()" class="btn-green btn waves-effect waves-light">START</button>
                <button *ngIf="timerIsRunning" (click)="stopTimer()" class="btn-red btn waves-effect waves-light">STOP</button>
            </div>
        </div>
    </div>
</div>

<div class="activities" *ngIf="activities.length">
    <div class="row">
        <div class="col s12 activity-heading">
            <h4>Latest Activity</h4>
        </div>
    </div>
    
    <div class="row">
        <div class="col s12">
            <table class="activity-table">
                <thead>
                  <tr>
                      <th>Project Name</th>
                      <th>Minutes Worked</th>
                      <th>Start Time</th>
                      <th>End Time</th>
                      <th>Date</th>
                      <th></th>
                  </tr>
                </thead>
            
                <tbody>
                    <tr class="activity-table__item" *ngFor="let activity of activities">
                        <td>{{ activity.projectName }}</td>
                        <td>{{ activity.timeWorked }}</td>
                        <td>{{ activity.startTime }}</td>
                        <td>{{ activity.endTime }}</td>
                        <td>{{ activity.date }}</td>
                        <td><i (click)="deleteActivity(activity.id)" class="material-icons red-text" style="cursor: pointer;">clear</i></td>
                    </tr>
                </tbody>
              </table>
        </div>
    </div>    
</div>

<div style="margin-top: 50px; font-size: 30px !important;" class="row" *ngIf="!activities.length">
    <div class="col s12">
        <h4 sty>There are no recent activities</h4>
    </div>
</div>

