<div class="section-header">
    <h1>Project Detail</h1>
</div>

<div class="project-details">
    <h3 class="project-details__description">Name</h3>
    <p class="project-details__text">{{ project.name }}</p>

    <h3 class="project-details__description">Description</h3>
    <p class="project-details__text">{{ project.name }}</p>

    <h3 class="project-details__description">Hours</h3>
    <p class="project-details__text">100</p>

    <a class="project-details__link" [routerLink]="['/app/projects']" >Go back...</a>
</div>