<div class="home-wrapper">
    <nav class="navbar">
        <div class="navbar-brand">
            <h1 class="navbar-brand__title"><i class="material-icons navbar-brand__icon">access_time</i>Project Tracker</h1>
        </div>
        <ul class="navbar-menu">
            <li class="navbar-menu__item">
                
                <a [routerLink]="['/app/timer']" routerLinkActive="navbar-menu__active" class="navbar-menu__link">
                    <i class="material-icons navbar-menu__item__icon">add_alarm</i> Timer
                </a>
            </li>
            <li class="navbar-menu__item">
                <a [routerLink]="['/app/projects']" routerLinkActive="navbar-menu__active" class="navbar-menu__link">
                    <i class="material-icons navbar-menu__item__icon">assignment</i>Projects
                </a>
            </li>
            <li class="navbar-menu__item">
                <a [routerLink]="['/app/tasks']" routerLinkActive="navbar-menu__active" class="navbar-menu__link">
                    <i class="material-icons navbar-menu__item__icon">event_available</i>Tasks
                </a>
            </li>
            <li class="navbar-menu__item">
                <a href="#" class="navbar-menu__link">
                    <i class="material-icons navbar-menu__item__icon">perm_data_setting</i>Settings
                </a>
            </li>
        </ul>
    </nav>
    <main class="main-content">
        <div class="top-info">
            <div class="top-info-user">
                <img class="top-info-user__image" src="../../assets/img/profile.png" alt="profile picture">   
                <p class="top-info-user__username">{{ username }}</p>
            </div>
        </div>
        <div class="section">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>