<div class="row section__title">
    <div class="col s12">
        <h1>Tasks <span *ngIf="projectIsSelected">- {{ selectedProject.name }}</span></h1>
    </div>
</div>

<div *ngIf="!projectIsSelected" class="row project-choice">
    <div class="col s12">
        <h5 class="project-choice__text">Please choose project</h5>
        <select [(ngModel)]="selectedProjectName" class="browser-default">
            <option selected *ngFor="let project of projects">{{ project.name }}</option>
        </select>
        <a (click)="selectProject()" class="project-choice__btn btn-blue btn waves-effect waves-light"><i class="material-icons right">arrow_forward</i>Select project</a>
    </div>
</div>


<div *ngIf="projectIsSelected" class="row">
    <div class="col s12 task-buttons">
        <a (click)="openModal('create-task-modal')" class="btn-green btn waves-effect waves-light"><i class="material-icons right">add</i>Add New Task</a>
        <a (click)="changeProject()" class="task-buttons__btn btn-red btn waves-effect waves-light"><i class="material-icons right">clear</i>Change Project</a>
    </div>

    <div class="col s12">
        <div class="tasks">
    
            <div class="task-category">
                <div class="task-category__heading">
                    <h4>Todo</h4>
                </div>
                <div class="task-category__body">
                    <div *ngFor="let task of todoTasks" class="task-item">
                        <p class="task-item__title">{{ task.name }}</p>
                        <div class="task-item__icons">
                            <svg (click)="changeTaskStatus('WORKING', task.id)" class="task-item__icon blue-icon">
                                <use xlink:href="../assets/sprite.svg#icon-briefcase"></use>
                            </svg>
                            <svg (click)="changeTaskStatus('DONE', task.id)" class="task-item__icon green-icon">
                                <use xlink:href="../assets/sprite.svg#icon-checkmark"></use>
                            </svg>
                            <svg (click)="deleteTask(task.id)" class="task-item__icon red-icon">
                                <use xlink:href="../assets/sprite.svg#icon-cancel"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="task-category">
                <div class="task-category__heading">
                    <h4>Doing</h4>
                </div>
                <div class="task-category__body">
                    <div *ngFor="let task of workingTasks" class="task-item">
                        <p class="task-item__title">{{ task.name }}</p>
                        <div class="task-item__icons">
                            <svg (click)="changeTaskStatus('DONE', task.id)" class="task-item__icon green-icon">
                                <use xlink:href="../assets/sprite.svg#icon-checkmark"></use>
                            </svg>
                            <svg (click)="deleteTask(task.id)" class="task-item__icon red-icon">
                                <use xlink:href="../assets/sprite.svg#icon-cancel"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="task-category">
                <div class="task-category__heading">
                    <h4>Done</h4>
                </div>
                <div class="task-category__body">
                    <div *ngFor="let task of doneTasks" class="task-item">
                        <p class="task-item__title">{{ task.name }}</p>
                        <div class="task-item__icons">
                            <svg (click)="deleteTask(task.id)" class="task-item__icon red-icon">
                                <use xlink:href="../assets/sprite.svg#icon-cancel"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<jw-modal id="create-task-modal">
    <form class="create-task-form" [formGroup]="createTaskForm" (ngSubmit)="onSubmit()">
        <h1 class="create-task-form__heading">Create New Task</h1>
        <div class="create-task-form__field">
            <input 
                formControlName="taskName"
                required
                placeholder="Task Name"
                class="create-task-form__input" 
                type="text">
            <div *ngIf="taskName.invalid && (taskName.dirty || taskName.touched)" class="invalid">
                <div *ngIf="taskName.errors.required">
                    Task Name is required.
                </div>
            </div>
            <button type="submit" class="button button-green create-task-form__btn">+ Add</button>
            <button type="button" class="button button-red create-task-form__btn-close" (click)="closeModal('create-task-modal')">X Close</button>
        </div>
    </form>
</jw-modal>

