<div class="section-header">
    <h1>Tasks</h1>

    
</div>

<div *ngIf="!projectIsSelected" class="project-choice">
    <h4 class="project-choice__text">Please choose project</h4>
    <select [(ngModel)]="selectedProjectName" class="project-choice__select">
        <option *ngFor="let project of projects">{{ project.name }}</option>
    </select>
    <a (click)="getSelectedProject()" class="button button-blue project-choice__btn">Select project</a>
</div>

<div *ngIf="projectIsSelected" class="tasks-wrapper">
    <h4 class="tasks__current-text">Current project: {{ selectedProject.name }}</h4>
    <a (click)="openModal('create-task-modal')" class="create-task-btn">Add New Task</a>
    <a (click)="changeProject()" class="button button-yellow project-choice__btn">Change Project</a>
    <div class="tasks">
    
        <div class="task-category">
            <div class="task-category__heading">
                <h4>Todo</h4>
            </div>
            <div class="task-category__body">
    
            </div>
        </div>
    
        <div class="task-category">
            <div class="task-category__heading">
                <h4>Doing</h4>
            </div>
            <div class="task-category__body">
    
            </div>
        </div>
    
        <div class="task-category">
            <div class="task-category__heading">
                <h4>Done</h4>
            </div>
            <div class="task-category__body">
    
            </div>
        </div>
    </div>

</div>

<jw-modal id="create-task-modal">
    <form class="create-task-form" [formGroup]="createTaskForm" (ngSubmit)="onSubmit()">
        <h1 class="create-task-form__heading">Create New Task</h1>
        <div class="create-task-form__field">
            <input 
                formControlName="taskName"
                required
                placeholder="Task Name"
                class="create-task-form__input" 
                type="text">
            <div *ngIf="taskName.invalid && (taskName.dirty || taskName.touched)" class="invalid">
                <div *ngIf="taskName.errors.required">
                    Task Name is required.
                </div>
            </div>
            <button type="submit" class="button button-green create-task-form__btn">+ Add</button>
            <button type="button" class="button button-red create-task-form__btn-close" (click)="closeModal('create-task-modal')">X Close</button>
        </div>
    </form>
</jw-modal>

