<div class="row section__title">
    <div class="col s12">
        <h1>Tasks <span *ngIf="projectIsSelected">- {{ selectedProject.name }}</span></h1>
    </div>
</div>

<div *ngIf="!projectIsSelected" class="row project-choice">
    <div class="col s12">
        <h5 class="project-choice__text">Please choose project</h5>
        <select [(ngModel)]="selectedProjectName" class="browser-default">
            <option selected *ngFor="let project of projects">{{ project.name }}</option>
        </select>
        <a (click)="selectProject()" class="project-choice__btn btn-blue btn waves-effect waves-light"><i class="material-icons right">arrow_forward</i>Select project</a>
    </div>
</div>


<div *ngIf="projectIsSelected" class="row">
    <div class="col s12 task-buttons">
        <a (click)="openModal('create-task-modal')" class="btn-green btn waves-effect waves-light"><i class="material-icons right">add</i>Add New Task</a>
        <a (click)="changeProject()" class="task-buttons__btn btn-red btn waves-effect waves-light"><i class="material-icons right">clear</i>Change Project</a>
    </div>
</div>

<div *ngIf="projectIsSelected" class="row" cdkDropListGroup>
    <div class="col s12">
        <div class="tasks">
            <div 
                class="tasks__board blue-grey darken-1 text-white"
                cdkDropList
                [cdkDropListData]="todo"
                (cdkDropListDropped)="drop($event, 'TODO')">
                <h4 class="tasks__board__title">To Do</h4>
                <div class="tasks__item blue" *ngFor="let task of todo" cdkDrag>
                    <p>{{task.name}}<i (click)="deleteTask(task.id)" class="tasks__item__icon material-icons right">clear</i></p>
                </div>
            </div>

            <div 
                class="tasks__board blue-grey darken-1 text-white"
                cdkDropList
                [cdkDropListData]="doing"
                (cdkDropListDropped)="drop($event, 'DOING')">
                <h4 class="tasks__board__title">Doing</h4>
                <div class="tasks__item blue" *ngFor="let task of doing" cdkDrag>
                    <p>{{task.name}}<i (click)="deleteTask(task.id)" class="tasks__item__icon material-icons right">clear</i></p>
                </div>
            </div>

            <div 
                class="tasks__board blue-grey darken-1 text-white"
                cdkDropList
                [cdkDropListData]="done"
                (cdkDropListDropped)="drop($event, 'DONE')">
                <h4 class="tasks__board__title">Done</h4>
                <div class="tasks__item blue" *ngFor="let task of done" cdkDrag>
                    <p>{{task.name}}<i (click)="deleteTask(task.id)" class="tasks__item__icon material-icons right">clear</i></p>
                </div>
            </div>
        </div>
    </div>
</div>

<jw-modal id="create-task-modal">
    <form class="create-task-form" [formGroup]="createTaskForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col s12">
            <h4>Create New Task</h4>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
          <input 
            formControlName="taskName"
            required
            type="text" 
            class="validate"
            [ngClass]="{ 'is-invalid': submitted && description.errors }" type="text"
            >
          <label for="name">Task Name</label>
          <div *ngIf="taskName.invalid && (taskName.dirty || taskName.touched)" class="invalid">
            <div *ngIf="taskName.errors.required">
                Task Name is required.
            </div>
          </div>
        </div> 
    </div>
    <div class="row">
        <div class="col s12">
            <button type="submit"  class="create-project-btn btn-blue btn waves-effect waves-light"><i class="material-icons right">add</i>Add</button>
            <button type="button" class="btn-red btn waves-effect waves-light" (click)="closeModal('create-task-modal')"><i class="material-icons right">clear</i>Close</button>
        </div>
    </div>
    </form>
</jw-modal>

