<div class="row section__title">
    <div class="col s12">
        <h1>Settings</h1>
    </div>
</div>

<div class="row settings-section">
    <div class="col s12">
        <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
            <div class="row">
                <div class="col s12">
                    <p>Change Password</p>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                  <input 
                    id="oldPassword" 
                    type="password" 
                    class="validate"
                    required
                    formControlName="oldPassword"
                    [ngClass]="{ 'is-invalid': submitted && oldPassword.errors }"
                    >
                  <label for="oldPassword">Old Password</label>
                  <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)" class="invalid">
                    <div *ngIf="oldPassword.errors.required">
                        Old Password is required.
                    </div>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                  <input 
                    id="newPassword" 
                    type="password" 
                    class="validate"
                    required
                    formControlName="newPassword"
                    [ngClass]="{ 'is-invalid': submitted && newPassword.errors }"
                    >
                  <label for="newPassword">New Password</label>
                  <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="invalid">
                    <div *ngIf="newPassword.errors.required">
                        New Password is required.
                    </div>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button class="waves-effect waves-light btn blue" type="submit"><i class="material-icons right">vpn_key</i>CHANGE PASSWORD</button>
                </div>
            </div>
        </form>
    </div>
</div>
