:root {
    --color-green: rgb(48, 199, 116);
    --color-green-light: #8EE4AF;
    --color-green-dark: rgb(35, 185, 103);
    --color-blue-dark: #05386B;  
    --color-light: #EDF5E1;
    
    --color-grey: #ccc;

    --color-grey-dark-1: rgb(107, 107, 107);
    --color-grey-dark-2: rgb(175, 175, 175);
    --color-grey-dark-3: rgb(236, 236, 236);
    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);

    --color-blue-main: #4984fb;
    --color-blue-main-darker: #3a6ac9;
    --color-blue-secondary: #70abeb;
    --color-grey-background: #F2F3F7;

    --color-red: rgb(199, 60, 60);
    --color-red-dark: rgb(184, 53, 53);

    --color-yellow: rgb(238, 241, 22);
    --color-yellow-dark: rgb(213, 216, 19);
}


* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}
 
html {
    box-sizing: border-box;
    font-size: 62.5%; 
}

body {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-grey-dark-1);
}

