//////////////////////////////////////
///// AUTH-FORM
.auth-form {
    display: flex;
    flex-direction: column;

    &__heading {
        position: relative;

        &__icon {
            @media only screen and (max-width: 600px) {
                top: 2.2rem;
                left: 2.5rem;
            }

            position: absolute;
            height: 4.5rem;
            width: 4.5rem;
            top: 2.2rem;
            left: 4.5rem;
            fill: var(--color-grey-dark-1);
        }

        h1 {
            padding-left: 4rem;
            font-size: 3rem;
            margin: 2rem 0;
            color: var(--color-grey-dark-1);
        }

        h4 {
            font-size: 2rem;
        }
    }

    &__field {
        display: flex;
        position: relative;
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        position: absolute;
        top: 2.7rem;
        left: 1.5rem;
        fill: var(--color-grey-dark-1);
    }

    &__input {
        width: 100%;
        border-radius: .5rem;
        font-weight: 700;
        font-size: 1.6rem;
        padding: 2rem 3rem 2rem 5rem;
        margin: 1rem 0;
        background-color: var(--color-grey-dark-3);
        color: var(--color-grey-dark-1);
        border: none;

        &::placeholder {
            font-weight: 700;
            color: var(--color-grey-dark-2);
        }

        &:focus {
            outline: none;
        }

        &:focus + svg {
            outline: none;
            fill: var(--color-green);
        }
    }

    &__button {
        border-radius: .5rem;
        font-size: 1.6rem;
        padding: 2rem;
        text-transform: uppercase;
        background-color: var(--color-green);
        border: none;
        color: #fff;
        font-weight: 700;
        letter-spacing: .13rem;
        margin-top: 2rem;

        &:hover {
            cursor: pointer;
            background: var(--color-grey-dark-2);
        }
    }
}

/////////////////////////////////
//////// AUTH BOTTOM TEXT
.auth-bottom-text {
    margin: 3rem 0 1rem 0;

    &__link {
        text-decoration: none;
        color: var(--color-green-dark);
        font-weight: 700;
    }
}

/////////////////////////////////
//////// INVALID Form
.invalid {
    color: red;
    font-size: 1.3rem;
    text-align: left;
    padding-left: 1rem;
}

.is-invalid {
    border: .1rem solid red;
}

//////////////////////////////////
////// NAVBAR-MENU
.navbar-menu {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    

    &__item {
        list-style: none;
    }

    &__link {
        display: block;
        text-decoration: none;
        color: #fff;
        padding: 2rem 5.5rem;
        font-size: 1.6rem;
        font-weight: 600;
        position: relative;

        &:hover {
            background-color: var(--color-blue-main-darker);
        }
    }

    &__active {
        background-color: var(--color-blue-main-darker);
    }

    &__icon {
        position: absolute;
        height: 2rem;
        width: 2rem;
        fill: #fff;
        top: 2.3rem;
        left: 2rem;
    }
}
//////////////////////////////////
////// NAVBAR-BRAND

.navbar-brand {
    padding: 1.5rem 2rem;
    text-align: center;
    background-color: var(--color-blue-main-darker);
    position: relative;

    &__title {
        font-size: 2rem;
        color: #fff;
    }

    &__icon {
        position: absolute;
        top: 1.8rem;
        left: 2rem;
        fill: #fff;
        height: 2.5rem;
        width: 2.5rem;
    }
}

//////////////////////////
///// TOP-INFO-USER
.top-info-user {
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.6rem;
    padding: 1.5rem 4rem;
    background-color: #fff;
    align-items: center;

    &:hover {
        cursor: pointer;
    }

    &__image {
        height: 3rem;
        margin-left: 1.5rem;
        border-radius: 50%;
    }
}

///////////////////////////////////
////// TIMER-PROJECT
.timer-project {
    display: flex;
    align-items: center;
    position: relative;

    &__icon {
        height: 2.2rem;
        width: 2.2rem;
        position: absolute;
        top: .1rem;
        left: -3.5rem;
        fill: var(--color-grey-dark-1);
    }

    &__text {
        margin-right: 1.5rem;
    }

    &__select {
        padding: .5rem;
    }
}

///////////////////////
//// timer-time-info

.timer-time-info {
    display: flex;
    align-items: center;
    position: relative;

    &__icon {
        height: 2.2rem;
        width: 2.2rem;
        position: absolute;
        top: .7rem;
        left: -3rem;
        fill: var(--color-grey-dark-1);
    }

    &__icon-trash {
        height: 2.2rem;
        width: 2.2rem;
        position: absolute;
        top: .7rem;
        right: -4rem;
        fill: rgb(231, 77, 77);

        &:hover {
            cursor: pointer;
        }
    }

    &__time {
        font-size: 2rem;
    }

    &__btn {
        margin-left: 2.5rem;
        background: var(--color-green);
        color: #fff;
        padding: 1rem 2rem;
        font-size: 1.4rem;
        border: none;
        font-weight: 600;

        &:hover {
            cursor: pointer;
        }
    }
}

/////////////////////////
//////// PROJECT-HEADER
.project-header {
    font-size: 1.6rem;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__create-button {
        margin-left: 3.5rem;
        padding: 2rem 3rem;
        background-color: var(--color-green);
        color: #fff;
        font-size: 1.6;
        border-radius: .5rem;
        font-weight: 600;
        text-decoration: none;

        &:hover {
            background-color: var(--color-green-dark);
        }
    }
}

//////////////////
////// PROJECT-ITEM
.project-item {
    &:hover {
        cursor: pointer;
    }
}

/////////////////////////
//////// CREATE-FORM
.create-form {
    width: 100%;
    font-size: 1.6rem;

    &__input {
        width: 100%;
        font-size: 1.7rem;
        padding: 1.5rem 2rem;
    }

    &__field {
        margin: 1rem 0 3rem 0;
    }

    &__btn {
        padding: 2rem 10rem;
        background-color: var(--color-green);
        color: #fff;
        font-size: 1.6;
        border-radius: .5rem;
        font-weight: 600;
        text-decoration: none;
        border: none;

        &:hover {
            cursor: pointer;
            background-color: var(--color-green-dark);
        }
    }
}

///////////////////////////
/////// PROJECT DETAIL
.project-details {
    font-size: 1.7rem;

    &__description {
        font-weight: bold;
        font-size: 2.2rem
    }

    &__text {
        margin-bottom: 3rem;
    }

    &__link {
        text-decoration: none;
        color: rgb(41, 41, 41);
    }
}
