//////////////////////////////////////
///// AUTH-FORM
.auth-form {
    display: flex;
    flex-direction: column;

    &__heading {
        position: relative;

        &__icon {
            position: absolute;
            height: 4.5rem;
            width: 4.5rem;
            top: 2.2rem;
            left: 4.5rem;
            fill: var(--color-grey-dark-1);
        }

        h1 {
            padding-left: 4rem;
            font-size: 3rem;
            margin: 2rem 0;
            color: var(--color-grey-dark-1);
        }

        h4 {
            font-size: 2rem;
        }
    }

    &__field {
        display: flex;
        position: relative;
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        position: absolute;
        top: 2.7rem;
        left: 1.5rem;
        fill: var(--color-grey-dark-1);
    }

    &__input {
        width: 100%;
        border-radius: .5rem;
        font-weight: 700;
        font-size: 1.6rem;
        padding: 2rem 3rem 2rem 5rem;
        margin: 1rem 0;
        background-color: var(--color-grey-dark-3);
        color: var(--color-grey-dark-1);
        border: none;

        &::placeholder {
            font-weight: 700;
            color: var(--color-grey-dark-2);
        }

        &:focus {
            outline: none;
        }

        &:focus + svg {
            outline: none;
            fill: var(--color-green);
        }
    }

    &__button {
        border-radius: .5rem;
        font-size: 1.6rem;
        padding: 2rem;
        text-transform: uppercase;
        background-color: var(--color-green);
        border: none;
        color: #fff;
        font-weight: 700;
        letter-spacing: .13rem;
        margin-top: 2rem;

        &:hover {
            cursor: pointer;
            background: var(--color-grey-dark-2);
        }
    }
}

/////////////////////////////////
//////// AUTH BOTTOM TEXT
.auth-bottom-text {
    &__link {
        text-decoration: none;
        color: var(--color-green-dark);
        font-weight: 700;
    }
}

/////////////////////////////////
//////// INVALID Form
.invalid {
    color: red;
    font-size: 1.3rem;
    text-align: left;
    padding-left: 1rem;
}

.is-invalid {
    border: .1rem solid red;
}
