.btn-purple {
    background-color: var(--color-purple-dark) !important;
}

.btn-red {
    background-color: var(--color-red-dark) !important;

    &:hover {
        background-color: var(--color-red-light) !important;
    }
}

.btn-blue {
    background-color: var(--color-blue-dark) !important;
}

.btn-grey {
    background-color: var(--color-grey-dark) !important;
}

.btn-green {
    background-color: var(--color-green-dark) !important;

    &:hover {
        background-color: var(--color-green-light) !important;
    }
}