<div class="section-header">
    <h1>Create New Project</h1>
</div>

<form [formGroup]="createForm" (ngSubmit)="onSubmit()" class="create-form">
    <div class="create-form__field">
        <p>Name</p>
        <input formControlName="name" required class="create-form__input"
            [ngClass]="{ 'is-invalid': submitted && name.errors }" type="text" placeholder="">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid">
            <div *ngIf="name.errors.required">
                Name is required.
            </div>
        </div>
    </div>
    
    <div class="create-form__field">
        <p>Description</p>
        <textarea rows="6" formControlName="description" required class="create-form__input"
            [ngClass]="{ 'is-invalid': submitted && description.errors }" type="text" placeholder=""></textarea>
        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="invalid">
            <div *ngIf="description.errors.required">
                Description is required.
            </div>
        </div>
    </div>
    
    <button class="create-form__btn" type="submit">CREATE</button>
    <a class="create-form__link" [routerLink]="['/app/projects']">Go back..</a>
</form>
